@model IEnumerable<Prova.Dados.Pedido>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<h2>Pedidos</h2>

@Html.ActionLink("Novo Pedido", "NovoPedido")

<table>
    <thead>
        <tr>
            <th>Número</th>
            <th>Cliente</th>
            <th>Valor Total</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model) {    
            <tr>
                <td>@Html.DisplayFor(pedidoModel => pedido.IdPedido)</td>
                <td>@Html.DisplayFor(pedidoModel => pedido.NomeCliente)</td>
                <td>@Html.DisplayFor(pedidoModel => pedido.ValorTotalPedido)</td>
                <td>@Html.ActionLink("Adicionar Items", "Itens", new { id = pedido.IdPedido })</td>
            </tr>
        }
    </tbody>
</table>

