@model Prova.Dados.Pedido

@{
    ViewBag.Title = "NovoPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NovoPedido</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@{
    List<SelectListItem> listClientes = new List<SelectListItem>();
    foreach (var modelItem in Model.Clientes)
    {
        listClientes.Add(new SelectListItem
        {
            Text = modelItem.NomeCliente + " - " + modelItem.CPF,
            Value = modelItem.IdCliente.ToString()
        });
    }
}
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Pedido</legend>

        <div class="editor-field"> <label class="display-label">Cliente:</label>  @Html.DropDownListFor(modelItem => Model.IdCliente, listClientes, "--Selecione o Tipo--") </div>
        <div class="editor-field">Data Entrega @Html.EditorFor(model => model.DataEntregaPedido)@Html.ValidationMessageFor(model => model.DataEntregaPedido)</div>
        <p>
            <input id="salvar" type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>
