@model Prova.Dados.ItemPedido

@{
    ViewBag.Title = "NovoItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IdPedido = Model.IdPedido;
}
@section head {
    @*
        Fazer javascript para validar se usuário preencheu todas as informações. Mostrar um alerta dos erros e cancelar o POST
    *@
}

<h2>Novo Item para o Pedido @ViewBag.IdPedido</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@{
    List<SelectListItem> listItens = new List<SelectListItem>();
    listItens.Add(new SelectListItem
    {
       Text = "Item 1",
       Value = "Item 1",
    });
    listItens.Add(new SelectListItem
    {
        Text = "Item 2",
        Value = "Item 2",
        Selected = true
    });
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Item</legend>

        <div class="editor-label">
            Nome
        </div>
        <div class="editor-field">
            <input type="text" name="Nome" id="nome" />
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(modelItem => Model.TipoItem, listItens, "--Select Status--")
        </div>

        <div class="editor-label">
            Quantidade
        </div>
        <div class="editor-field">
            <input type="text" name="Quantidade" id="quantidade" />
        </div>

        <p>
            <input type="submit" value="Criar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Itens", "Itens", new { id = @ViewBag.IdPedido })
</div>
